# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Dependency directories
.pnp/
.pnp.js

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env

# Docker
*.dockerfile
docker-compose.override.yml
docker-compose.override.yaml

# Optional Docker temp files
tmp/
temp/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
